<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Greetings!</p>
        <p>My name is Nick DeMarco and I will be graduating from Western Connecticut State
            University with my Bachelor's in Computer Science at the end of this year (2020).
            I've always wanted to learn Node.js, but there are no Node.js courses at WCSU,
            so I decided to learn myself!</p>
        <p>This is my weather website that uses various NPMs and web APIs to display
            the current weather for a given location.</p>
        <img class="portrait" src="img/me.png">
    </div>

    {{>footer}}
</body>

</html>
